{%- liquid
    assign show_dynamic_checkout = block.settings.show_dynamic_checkout
    assign atc_animation = block.settings.atc_animation
    assign atc_color = block.settings.atc_color
    assign atc_border_color = block.settings.atc_border_color
    assign atc_bg_color = block.settings.atc_bg_color
    assign atc_bg_color_gradient = block.settings.atc_bg_color_gradient
    assign atc_color_hover = block.settings.atc_color_hover
    assign atc_border_color_hover = block.settings.atc_border_color_hover
    assign atc_bg_color_hover = block.settings.atc_bg_color_hover
    assign atc_bg_color_gradient_hover = block.settings.atc_bg_color_gradient_hover
    assign bin_color = block.settings.bin_color
    assign bin_border_color = block.settings.bin_border_color
    assign bin_bg_color = block.settings.bin_bg_color
    assign bin_bg_color_gradient = block.settings.bin_bg_color_gradient
    assign bin_color_hover = block.settings.bin_color_hover
    assign bin_border_color_hover = block.settings.bin_border_color_hover
    assign bin_bg_color_hover = block.settings.bin_bg_color_hover
    assign bin_bg_color_hover_gradient = block.settings.bin_bg_color_hover_gradient
    assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

    # Automatic 20% discount logic
    assign discount_percentage = 20
    assign original_price = current_variant.price
    assign discount_amount = original_price | times: discount_percentage | divided_by: 100
    assign discounted_price = original_price | minus: discount_amount
    assign savings_amount = discount_amount
    
    if settings.currency_format_enable
        assign original_money_price = original_price | money_with_currency
        assign discounted_money_price = discounted_price | money_with_currency
        assign savings_money = savings_amount | money_with_currency
    else
        assign original_money_price = original_price | money
        assign discounted_money_price = discounted_price | money
        assign savings_money = savings_amount | money
    endif
-%}
<div class="productView-buttons">
    {%- comment -%} Display 20% Discount Information {%- endcomment -%}
    <div class="discount-info-section">
        <div class="discount-badge">
            <span class="discount-percentage">{{ discount_percentage }}% OFF</span>
            <span class="discount-label">SPECIAL DISCOUNT</span>
        </div>
        
        <div class="pricing-breakdown">
            <div class="original-price">
                <span class="price-label">{{ 'products.product.price.regular_price' | t }}:</span>
                <span class="price-value">{{ original_money_price }}</span>
            </div>
            
            <div class="sale-price">
                <span class="price-label">{{ 'products.product.price.sale_price' | t }}:</span>
                <span class="price-value sale-highlight">{{ discounted_money_price }}</span>
            </div>
        </div>
        
        <div class="savings-info">
            <span class="savings-text">{{ 'products.product.save' | t }} {{ savings_money }}!</span>
        </div>
    </div>
    {%- if gift_card_recipient_feature_active -%}
      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
    {%- endif -%}

    {%- assign product_form_installment_id = 'product-form-installment-' | append: product.id -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        {{ form | payment_terms }}
    {%- endform -%}
    {%- assign product_form_id = 'product-form-' | append: product.id -%}
    <product-form class="productView-form product-form">
        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <div class="productView-group">
                {%- if check_show_qty == 'show_qty_2' -%}
                    {%- if show_subtotal_text and subtotal_style == '1' -%}
                        <div class="productView-subtotal">
                            <span class="text">{{ 'sections.cart.subtotal' | t | append: ': ' }}</span>
                            <span class="money-subtotal">{{ subtotal }}</span>
                        </div>
                    {%- endif -%}
                {%- endif -%}
                <div class="pvGroup-row">
                    {%- if check_show_qty == 'show_qty_1' or check_show_qty == 'show_qty_2' -%}
                        {%- liquid
                            if check_show_qty == 'show_qty_1'
                                assign check_hidden = true
                            endif
                        -%}
                        {% render 'product-quantity', current_variant: current_variant, check_hidden: check_hidden, qty_style: qty_style, quantity_stt: 1 %}
                    {%- endif -%}                    
                    <div class="productView-groupTop">
                        <div class="productView-action{% unless settings.show_wishlist %} productView-action-2{% endunless %}" style="--atc-color: {{ atc_color }};--atc-bg-color: {% if atc_bg_color_gradient != blank %}{{ atc_bg_color_gradient }}{% else %}{{ atc_bg_color }}{% endif %};--atc-border-color: {{ atc_border_color }};--atc-color-hover: {{ atc_color_hover }};--atc-bg-color-hover: {% if atc_bg_color_gradient_hover != blank %}{{ atc_bg_color_gradient_hover }}{% else %}{{ atc_bg_color_hover }}{% endif %};--atc-border-color-hover: {{ atc_border_color_hover }}">
                            <input type="hidden" name="id" value="{{ current_variant.id }}">
                            <div class="product-form__buttons">
                                {%- if current_variant.available -%}
                                    {%- if current_variant.inventory_management -%}
                                        {%- assign first_inventory = current_variant.inventory_quantity -%}
                                        {%- liquid
                                           if current_variant.available and first_inventory == 0
                                             assign allowOutStockSale = true
                                           else
                                             assign allowOutStockSale = false
                                           endif
                                        -%}
                                        <button type="submit" name="add" data-btn-addToCart data-inventory-quantity="{{ current_variant.inventory_quantity }}" data-available="{{ allowOutStockSale }}" class="product-form__submit button button--primary an-{{ atc_animation }}{% if first_inventory == 0 %} button-text-change{% else %}{% if show_subtotal_text %} button-text-change{% endif %}{% endif %}" id="product-add-to-cart">
                                            {%- comment -%}
                                                Logic to display discounted price and original price if a discount is active (e.g., LABOURDAYSALE20)
                                                This part needs to be integrated with Shopify's automatic discount detection.
                                                For now, we'll just display the default text.
                                            {%- endcomment -%}
                                            {%- if first_inventory > 0 -%}
                                                {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                    {%- assign subtotal = subtotal | strip_html -%}
                                                    {{ 'products.product.sub_total' | t : value : subtotal }}
                                                {%- else -%}
                                                    {{ 'products.product.add_to_cart' | t}} - {{ discounted_money_price }}
                                                {%- endif -%}
                                            {%- else -%}
                                                {{ 'products.product.pre_order' | t }}
                                            {%- endif -%}
                                        </button>
                                    {%- else -%}
                                        <button type="submit" name="add" data-btn-addToCart class="product-form__submit button button--secondary an-{{ atc_animation }}{% if show_subtotal_text %} button-text-change{% endif %}" id="product-add-to-cart">
                                            {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                {%- assign subtotal = subtotal | strip_html -%}
                                                {{ 'products.product.sub_total' | t : value : subtotal }}
                                            {%- else -%}
                                                {{ 'products.product.add_to_cart' | t}} - {{ discounted_money_price }}
                                            {%- endif -%}
                                        </button>
                                    {%- endif -%}
                                {%- else -%}
                                    <button type="submit" name="add" data-btn-addToCart class="product-form__submit button" id="product-add-to-cart" disabled>{{ 'products.product.sold_out' | t }}</button>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if settings.show_wishlist -%}
                            <div class="productView-wishlist clearfix">
                                <a data-wishlist href="#" data-wishlist-handle="{{ product.handle }}" data-product-id="{{ product.id }}"><span class="visually-hidden">{{ 'wishlist.general.add' | t }}</span>{% render 'icon-heart' %}</a>
                            </div>
                        {%- endif -%}
                        {%- if check_show_share == '2' -%}
                            {% render 'halo-share', product: product, share_layout: check_show_share %}
                        {%- endif -%}
                    </div>
                </div>
                {%- if show_dynamic_checkout -%}
                    <div class="productView-groupBottom">
                        {%- if settings.show_global_checkbox -%}
                            <div class="productView-groupItem">
                                {%- if settings.show_global_checkbox -%}
                                    <div class="productView-checkbox global-checkbox">
                                        <input class="global-checkbox--input" type="checkbox" name="conditions" id="product_conditions_{{ product.id }}" data-target="#product-checkout-{{ product.id }}">
                                        <label class="global-checkbox--label form-label--checkbox" for="product_conditions_{{ product.id }}">{{ settings.global_checkbox_text }}</label>
                                        {%- if settings.global_checkbox_link_text != blank -%}
                                            <button type="button" data-term-condition>{{ settings.global_checkbox_link_text | escape }}</button>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                        <div class="productView-groupItem">
                            <div class="productView-payment" {% if settings.show_global_checkbox %} disabled="disabled"{% endif %} id="product-checkout-{{ product.id }}" style="--bin-color: {{ bin_color }};--bin-bg-color: {% if bin_bg_color_gradient != blank %}{{ bin_bg_color_gradient }}{% else %}{{ bin_bg_color }}{% endif %};--bin-border-color: {{ bin_border_color }};--bin-color-hover: {{ bin_color_hover }};--bin-bg-color-hover: {% if bin_bg_color_hover_gradient != blank %}{{ bin_bg_color_hover_gradient }}{% else %}{{ bin_bg_color_hover }}{% endif %};--bin-border-color-hover: {{ bin_border_color_hover }}">
                                {{ form | payment_button }}
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
        {%- endform -%}
    </product-form>
    {%- if settings.show_notify_form -%}
        <div class="productView-notifyMe halo-notifyMe" {% if product.variants.size > 1 %}style="display: none;"{% else %}{% if product.available %}style="display: none;"{% endif %}{% endif %}>
            {% render 'halo-notify-sold-out', id: product.id, current_variant: current_variant %}
        </div>
    {%- endif -%}
</div>

<style>
/* Discount Info Section Styles */
.discount-info-section {
    background: linear-gradient(135deg, #fff9e6 0%, #ffffff 100%);
    border: 2px solid #BF0A30;
    border-radius: 12px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 4px 15px rgba(191, 10, 48, 0.2);
}

.discount-badge {
    background: linear-gradient(135deg, #BF0A30 0%, #ff4757 100%);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    animation: pulse-discount 2s infinite;
}

.discount-percentage {
    display: block;
    font-size: 14px;
    line-height: 1;
}

.discount-label {
    display: block;
    font-size: 10px;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.pricing-breakdown {
    display: grid;
    gap: 8px;
}

.original-price, .sale-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e9ecef;
}

.original-price .price-value {
    color: #6c757d;
    text-decoration: line-through;
}

.sale-price .price-value.sale-highlight {
    color: #BF0A30;
    font-weight: 600;
    font-size: 18px;
}

.savings-info {
    text-align: center;
    margin-top: 10px;
}

.savings-text {
    background: linear-gradient(45deg, #ff8a80, #BF0A30);
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}

.installment-discount-note {
    margin: 8px 0;
    color: #6c757d;
    font-style: italic;
}

@keyframes pulse-discount {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

/* Mobile responsive */
@media (max-width: 768px) {
    .discount-info-section {
        padding: 12px;
        margin: 10px 0;
    }

    .pricing-breakdown {
        gap: 6px;
    }

    .original-price, .sale-price {
        padding: 6px 10px;
    }

    .sale-price .price-value.sale-highlight {
        font-size: 16px;
    }
}
</style>