
 {% if template contains 'collection.subcategory' %}
   <!-- Subcategory collection template schema start -->
   <script type="application/ld+json">
   {
       "@context": "https://schema.org",
       "@type": "ItemList",
       "name": "{{ collection.title | escape }}",
       "itemListElement": [
           {% assign side_links1 = collection.handle %}
           {% for link in linklists[side_links1].links %}
           {
               "@type": "ListItem",
               "position": {{ forloop.index }},
               "url": "{{ request.origin }}{{ link.url }}",
               "name": "{{ link.title | escape }}",
               "image": "https:{{ link.object.image | img_url: 'medium' | escape }}", 
               "description": {{ link.object.description | strip_html | escape | json }}
           }{% if forloop.last == false %},{% endif %}
           {% endfor %}
       ]
   }
   </script>   
 <!--  subcategory collecion template schema end -->
 {% endif %}
{% include 'breadcrumb' %}

{% comment %} {% if request.query_string contains 'collection_url=' or request.query_string contains 'promotion=breast_cancer_awareness' %}
  <meta name="robots" content="noindex">
{% endif %} {% endcomment %}

<header class="section-header section-header--large">
  <h1 class="section-header__title section-header__title--left">{{ collection.title }}</h1>
  <div class="section-header__link--right">
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
    {% if settings.collections_views_enable %}
      {% include 'collection-views' %}
    {% endif %}
  </div>
</header>
 <!-- Reusable Breast Cancer Promotional Banner Section -->
 {% render 'breast-cancer-promotional-css' %}
<!-- Desktop Breast cancer Banner Below Breadcrumb -->
<div class="promotional-banner promotional-banner-desktop">
  {% comment %} <a href="/pages/foxx-open-house-registration-2025">
  <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/Website_Banner_2708x417-foxx-open-house.jpg?v=1739196928"
        alt="Foxx Loves India Open House | 14th February 2025, 10:30AM ðŸ“ 619 Pudur, Medchal, Hyderabad, Telangana-501401, India"
          title="Foxx Loves India Open House | 14th February 2025, 10:30AM ðŸ“ 619 Pudur, Medchal, Hyderabad, Telangana-501401, India"
        class="banner-img">
</a> {% endcomment %}
  {% comment %} <a href="/collections/all?collection_url={{ collection.handle | url_encode }}&promotion=breast_cancer_awareness">
    <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/Breast-cancer-banners-email-banner-new_1.jpg?v=1728040752"
         alt="Breast Cancer Awareness - 5% off on all products"
         class="banner-img">
  </a> {% endcomment %}
    <!-- New section Prmotional Bannner -->
    <div class="second-inner mb-xl-3">
      <div class="container">
          {% comment %} <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> {% endcomment %}

          <!-- Desktop Breast Cancer Awareness Banner Slider Container -->
          {% comment %} <div class="banner-container">
            <div class="promotional-banner promotional-banner-desktop swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="/pages/halloween-sale-offers-deals?&promotion=halloween-sale-offers-deals">
                    <img style="border:2px solid  #0171BB;border-radius:5px"  src="https://cdn.shopify.com/s/files/1/1064/0118/files/Halloween_Promo_Banner-02.jpg?v=1730229148"
                         alt="Halloween Sale on Carboys (Buy 3 Get 1 Free)"
                         class="banner-img">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="/collections/all?&promotion=breast_cancer_awareness">
                    <img style="border:2px solid  #0171BB;border-radius:5px" src="https://cdn.shopify.com/s/files/1/1064/0118/files/Breast-cancer-banners-email-banner-new-2700x417.jpg?v=1730230037"
                         alt="Breast Cancer Awareness - 5% off on all products"
                         class="banner-img">
                  </a>
                </div>


              </div>

              <div class="swiper-pagination-1"></div>
            </div>
          </div> {% endcomment %}
          {% comment %} <script>
              document.addEventListener('DOMContentLoaded', function () {
                const swiper = new Swiper('.swiper-container', {
                  loop: true,
                  autoplay: {
                    delay: 5000, // 5 seconds between slides
                    disableOnInteraction: false,
                  },
                  pagination: {
                    el: '.swiper-pagination-1',
                    clickable: true,
                  },
                  navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                  },
                });
              });
            </script> {% endcomment %}

            <style>
              /* Center the banner container and make images full-width */
              .banner-container {
                max-width: 100%; /* Make banner container responsive */
                margin: 0 auto;
                overflow: hidden;
              }

              /* Ensure the Swiper container takes full width */
              .promotional-banner {
                width: 100%;
                overflow: hidden;
              }

              /* Ensure each image is centered and full width */
              .swiper-slide, .swiper-pagination-1 {
                display: flex;
                justify-content: center;
              }
              .banner-img {
                width: 100%;
                height: auto;
                object-fit: cover;
              }
            </style>

      </div>
  </div>
  <!-- -->
</div>

<!-- Reusable Breast Cancer Promotional Banner Section -->
 <div class="promotional-banner">
    <a href="/pages/us-independence-day-sale-25">
      <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/4th_July_Independence_day-sale-promo-inner.jpg?v=1751632791"
            alt="Our Biggest Patriotic Sale of the Year"
              title="Our Biggest Patriotic Sale of the Year"
            class="banner-img">
    </a>
  </div> 
{% comment %} <div class="promotional-banner">
  <a href="/collections/all">
    <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/christmas-banner-foxx-life-sciences-banner-inner-promotional.jpg?v=1734788603"
          alt="Cyber Monday Sale - upto 40% off on selected cateogy"
          class="banner-img">
  </a>
  </div> {% endcomment %}
  {% comment %} {% render 'christmas-promo-offer' %} {% endcomment %}
<!-- Desktop Breast cancer Banner Below Breadcrumb -->
 {% comment %} <div class="promotional-banner">
<a href="/pages/cyber-monday-sale">
  <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/cyber-monday-sale-v2.jpg?v=1733145618"
        alt="Cyber Monday Sale - upto 40% off on selected cateogy"
        class="banner-img">
</a>
</div>  {% endcomment %}
<!-- Desktop Banner Below Breadcrumb -->

{% if settings.collections_tags_enable %}
  {% include 'collection-tags' %}
{% endif %}



{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr>
{% endif %}


{% if template.name == 'collection.subcategory' %}
 <style>
  #collection-filters-container, .section-header__link--right {
  display:none!important
}

.sidebar-module .section-header__title.h4 {
  margin-bottom:8px!important
}
 </style>
{% else %}
 <style>
  #collection-filters-container, .section-header__link--right {
  display:none!important
}

.section-header {
  margin-bottom:0px!important
}

.sidebar-module .section-header__title.h4 {
  margin-bottom:12px!important
}
 </style>
{% endif %}
<script>
  $(document).ready(function() {
    // Create the section
    var section = `
      {% if collection.handle == 'bioprocess-caps-and-gaskets' %}
        <p>If you have any questions or inquiries, please email us at <a href="mailto:sales@foxxlifesciences.com">sales@foxxlifesciences.com</a> or call 1-603-890-3699.</p>
      {% endif %}
    `;

    var hrTag = $('.grid-link__container').next('hr');

// Append the section after the <hr /> tag
hrTag.after(section);
  });
</script>
<div class="grid-uniform grid-link__container">
  <ul class=" sidebar_menu">
            {%- assign side_links1 = collection.handle -%}

 {% for link in linklists[side_links1].links %}
    {% assign collection = link.object %}
    {%- assign first_product = collection.products.first -%}
    {%- if first_product -%}
      {%- assign created_at_timestamp = first_product.created_at | date: '%s' -%}
    {%- else -%}
      {%- assign created_at_timestamp = 0 -%}
    {%- endif -%}

    <li class="grid__item small--one-half medium--one-third large--one-quarter text-center sidebarmenu_list" 
        data-link-created-at="{{ created_at_timestamp }}"
        data-link-url="{{ link.url }}"
        style="position: relative;">
      <a href="{{ link.url }}">
        <div class="sub-category">
          <span class="grid-link__image grid-link__image--collection">
            <span class="grid-link__image-centered">
              {% if collection.image %}
                <img src="{{ collection | img_url: 'master' }}" alt="{{ collection.title | escape }}" style="display: block;" />
              {% else %}
                <img src="{{ collection.products.first | img_url: 'master' }}" alt="{{ collection.title | escape }}" style="display: block;" />
              {% endif %}
            </span>
          </span>
          <p>{{ link.title }}</p>
        </div>
      </a>
    </li>
  {% endfor %}

    </ul>


</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var oneMonthAgo = new Date();
  oneMonthAgo.setMonth(oneMonthAgo.getMonth() - 1);

  var listItemElements = document.querySelectorAll('.sidebarmenu_list');

  listItemElements.forEach(function(listItem) {
    var createdAtTimestamp = parseInt(listItem.getAttribute('data-link-created-at')) * 1000;

    var isNewProduct = !isNaN(createdAtTimestamp) && createdAtTimestamp > oneMonthAgo.getTime();

    if (isNewProduct) {
      var newBadge = document.createElement('span');
      newBadge.className = 'badge-custom badge--new-custom';
      var imageURL = 'https://cdn.shopify.com/s/files/1/1064/0118/files/new-badge-star-type-custom-fls.png?v=1715900030';
      var imageStyle = 'background-image: url(' + imageURL + '); background-size: cover; display: inline-block; width: 50px; height: 50px; position: absolute; top: 0; right: 0;';
      newBadge.innerHTML = '<span class="badge__image" style="' + imageStyle + '"></span><span class="badge_custom__text badge__text">New</span>';
      listItem.querySelector('.sub-category').appendChild(newBadge);
    }
  });
});
</script>



<style>

  .large--one-quarter.sidebarmenu_list {
    position:relative
  }
  .badge-custom {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0; /* Correcting to place it at the right */
  }
  .badge__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  .badge_custom__text {
    position: absolute;
    top: 7px;
    color:#fff;
    right: 0;
  }
</style>


<hr />

{% comment %} <style>

.product_page_top_form_section {
  display:none!important
}

.template-collection .saleDateTitle_1O_jI .price_container {
  font-size:16px!important
}
</style>
<div style="display:flex;justify-content:space-between;align-items:center;gap:10px;flex-wrap:wrap"><h2 class="recommended-buy-title_col-1 browse-category-hand-picked-title" style="color:#333333!important;font-size:22px;line-height:33.9px">EZBioÂ® PC SUT Media Bottle Sale</h2>
{% render 'bfs-timer-v2'  %}
</div>
{% section 'cross-sale-product-promo-ezeaster-sale' %} {% endcomment %}



<script>
document.addEventListener("DOMContentLoaded", function() {
  var collectionFiltersContainer = document.querySelector("#collection-filters-container");

  if (collectionFiltersContainer) {
    var sidebarModules = document.querySelectorAll(".sidebar-module");

    sidebarModules.forEach(function(module) {
      module.style.marginBottom = "0px";
      module.style.paddingBottom = "0.2px";
    });
  }
});
</script>

<!-- For chirstmas Only section block -->
<!--  Cross Sale Product Promotions -->
  <div style="margin-top:50px">&nbsp;</div>
  {% comment %} <style>
  .recommended-product-card {
     border-radius: 10px;
     position:relative;
     padding: 10px;
     text-align: center;
     background: #ffff;}
  </style> {% endcomment %}
{% comment %} {% section 'cross-sale-product-promo-ezeaster-sale' %} {% endcomment %}
<!--  Cross Sale Product Promotions -->
   <!--  Top selling product section (for christmas) -->
{% comment %} {% render 'top-selling-product-index-sec' %} {% endcomment %}
<!--  Top selling product section (for christmas) -->
<!--  Trending Product section (for christmas) -->
{% comment %} {% render 'trending-weekly-product-index-sec' %} {% endcomment %}
<!--  Trending Product section (for christmas) -->

<!-- For chirstmas Only section block -->

<div class="promotional-banner">
  <a href="/pages/us-independence-day-sale-25">
      <img src="https://cdn.shopify.com/s/files/1/1064/0118/files/4th_July_Independence_day-sale-promo-inner.jpg?v=1751632791"
            alt="Our Biggest Patriotic Sale of the Year"
              title="Our Biggest Patriotic Sale of the Year"
            class="banner-img">
    </a>
  </div> 